.bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;

  .navbar-brand img {
    width: 7rem;
  }

  .navbar-toggler .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin: 5px 0;
    position: relative;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }

  .navbar-toggler:not(.collapsed) {
    .toggler-icon {
      &:nth-of-type(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 7px;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        top: -7px;
      }
    }
  }

  &.navbar-sticky{
    .navbar-nav .nav-link:not(.btn) {
      color: inherit !important;
    }

    .navbar-toggler .toggler-icon {
      background-color: #000;
    }
  }

  .navbar-nav {
    align-items: center;

    .nav-link {
      font-size: 16px;
      font-weight: 500;
      -webkit-transition: all 0.3s ease-out 0s;
      -moz-transition: all 0.3s ease-out 0s;
      -ms-transition: all 0.3s ease-out 0s;
      -o-transition: all 0.3s ease-out 0s;
      transition: all 0.3s ease-out 0s;
      position: relative;
      font-family: "Nunito", sans-serif;
      color: #fff;
    }

    .sub-nav-toggler {
      display: none;
    }
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-nav .nav-item {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  .navbar-nav .nav-item {
    margin: 0;

    a {
      display: block;
      padding: 4px 0;
      color: #2e2e2e;
    }
  }
}

@media (max-width: 767px) {
  .navbar-nav .nav-item {
    margin: 0;

    a {
      display: block;
      padding: 4px 0;
      color: #2e2e2e;
    }
  }
}

.header-area {
  background-image: url(../img/Group.svg);
}

.header-hero-content {
  padding-top: 10rem;

  .header-title {
    font-size: 38px;
    font-weight: 700;
    color: #fff;
  }

  .header-sub-title {
    font-size: 32px;
    font-weight: 300;
    color: #fff;
  }
}

@media (max-width: 767px) {
  .header-hero-content {
    padding-top: 100px;

    .header-title,
    .header-sub-title {
      font-size: 24px;
    }
  }
}

.header-hero {
  position: relative;
  z-index: 5;
  background-position: bottom center;

  &-image {
    img {
      animation: ImgBounce 5s ease-in-out 0s infinite alternate;
    }
  }
}




#tsparticles canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


