$primary-color: #14499e;
$primary-color-light: #2e82ef;
$secondary-color: #ff4000;
$secondary-color-light: #f4a503;
$tertiary-color: #4a0e8f;
$tertiary-color-light: #b430a7;
$dark-color: #2e2e2e;
$white-color: #fff;
$tint-color: #d7e6fb;
$text-color: #6a6972;
$shadow-color: rgba(167, 167, 167, 0.16);
$border-radius: 8px;
$box-shadow: 0 0.5rem 1rem $shadow-color;
$box-shadow-primary: 0 0.5rem 1rem rgba($primary-color, 0.16);
$box-shadow-secondary: 0 0.5rem 1rem rgba($secondary-color, 0.16);
$box-shadow-tertiary: 0 0.5rem 1rem rgba($tertiary-color, 0.16);
