@import "varibales";

.subscribe-area {
  padding: 40px 50px 90px;
  -webkit-box-shadow: 0 0 18px 0 rgba(50, 77, 215, 0.14);
  -moz-box-shadow: 0 0 18px 0 rgba(50, 77, 215, 0.14);
  box-shadow: 0 0 18px 0 rgba(50, 77, 215, 0.14);
  border-radius: 10px;
  background-color: #fff;
}

@media (max-width: 767px) {
  .subscribe-area {
    padding: 10px 30px 60px;
  }
}

.footer-area {
  background-position: top center;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/footer.svg);
    background-position: top center;
    z-index: -1;
    background-size: cover;
  }
}

@media only screen and (min-width: 1921px) {
  .footer-area::before {
    height: 1120px;
  }
}

.footer-widget {
  padding-top: 50px;
}

.footer-section {
  .logo img {
    width: 160px;
  }

  .text {
    color: #fff;
    line-height: 30px;
    margin-top: 30px;
  }

  .social {
    margin-top: 40px;

    li {
      display: inline-block;
      margin-right: 30px;

      a {
        font-size: 22px;
        color: #fff;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

.footer-title .title {
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}

.link-wrapper {
  padding: 0 35px;

  .link {
    list-style: none;

    li {
      margin-top: 20px;

      a {
        font-size: 16px;
        color: #fff;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .link-wrapper {
    padding: 0;
    padding-right: 50px;
  }
}

.footer-contact {
  .contact {
    list-style: none;

    li {
      margin-top: 20px;
      font-size: 16px;
      color: #fff;
    }
  }
}

.footer-copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 15px;
  padding-bottom: 30px;
}

.copyright-content {
  padding-top: 15px;
  text-align: center;

  p {
    color: #fff;
  }

  a {
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;

    &:hover {
      color: $secondary-color;
    }
  }
}

.back-to-top {
  font-size: 20px;
  color: #fff;
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, $primary-color 0%, $primary-color-light 100%);
  background: -o-linear-gradient(left, $primary-color 0%, $primary-color-light 100%);
  background: linear-gradient(to right, $primary-color 0%, $primary-color-light 100%);
  text-align: center;
  z-index: 99;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: none;

  &:hover {
    color: #fff;
  }
}


