@import "varibales";

.wizard {
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  padding: 2rem;

  .wizard-step-1 {
    .wizard-block {
      display: flex;
      align-items: center;
      justify-content: space-around;

      label {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
          font-weight: 700;
          color: $primary-color !important;
        }

        i {
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.wizard-activity-type {
        padding-top: 1rem;
        padding-bottom: 3rem;

        label {
          i {
            margin-right: .5rem;
          }
        }
      }

      &.wizard-domain, &.wizard-shop-type {
        padding: 3rem;

        label {
          flex-direction: column;

          i {
            font-size: 2rem;
            margin-bottom: .5rem;
          }
        }
      }

      &.wizard-activity-type {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  .wizard-step-2 {
    .feature-category {
      div.active {
        background-color: rgba($primary-color, .5);
      }

      &:first-of-type {
        div:first-of-type {
            div.active {
              border-radius: 8px 8px 0 0;
            }
        }
      }

      &:last-of-type {
        div:last-of-type {
            div.active {
              border-radius: 0 0 8px 8px;
            }
        }
      }
    }
  }
}
